<div class="text-center content " [style.backgroundColor]="'#1ABC9C'">
    <div class="avatarDiv m-auto">
        <img src="../../assets/avataaars.svg" class=" w-100" alt="">
    </div>
    <h1 [style]="'color:white; fontSize:70px;'"> START ANGULAR </h1>
    <div class="d-flex w-100 align-items-center justify-content-center">
        <div class="starDash"></div>
        <i class='fa-solid fa-star fs-2 text-white'></i>
        <div class="starDash"></div>
    </div>
    <p [style]="'color:white; fontSize:25px;'" class="my-4">Graphic Artist - Web Designer - Illustrator</p>
    
</div>