.avatarDiv{
    width: 250px;
    padding-top: 150px;
    background-color: #1ABC9C;
}
.content{
    height:100vh;
}
.starDash{
    background-color: white;
    border-radius: 5px;
    margin: 15px;
    height: 4px;
    width: 120px;

}