<div class="my-5 container" id="contact">
    <div class="text-center" >
        <h1 [style]="'color:#2C3E50; fontSize:50px;'" class="fw-bold"> CONTACT ME </h1>
        <div class="d-flex w-100 align-items-center justify-content-center">
            <div class="starDash"></div>
            <i class='fa-solid fa-star fs-2' [style]="'color:#2C3E50;'"></i>
            <div class="starDash"></div>
        </div>
    </div>
    <form [formGroup]= "registerForm" (ngSubmit)="submitForm()">
        <div class="row justify-content-center">
            <div class="col-7 border-bottom p-0">
                <label [style.color]="'#1ABC9C'" class="p-0" >Name</label>
                <input formControlName="fName" type="text" class="form-control border-0 p-0" placeholder="Name">
            </div>
            <div class="col-7 border-bottom p-0">
                <label [style.color]="'#1ABC9C'" class="p-0">Email Address</label>
                <input formControlName="email" type="email" class="form-control border-0 p-0" placeholder="Email Address">
                <ul *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].invalid"><li class="text-danger">Not a valid email address</li></ul>
            </div>
            <div class="col-7 border-bottom p-0">
                <label [style.color]="'#1ABC9C'" class="p-0">Phone Number</label>
                <input formControlName="phone" type="text" class="form-control border-0 p-0" placeholder="Phone Number">
            </div>
            <div class="col-7 border-bottom m-0 p-0">
                <label [style.color]="'#1ABC9C'" class="p-0">Message</label>
                <textarea formControlName="message" type="text" cols="30" rows="8" class="form-control border-0 p-0" placeholder="Message"></textarea>
            </div>
            <div class="col-7 px-0">
                <button [disabled]="registerForm.invalid" type="submit" class="btn text-white mt-3 fs-5" [style.background]="'#1ABC9C'">Send</button>
            </div>
        </div>
    </form>
</div>