<div [style.background]="'#2C3E50'" class="py-5">
    <div>
        <div class="row justify-content-center text-center text-white m-0">
            <div class="col-lg-3 col-sm-12 my-4">
                <h2 class="fw-bold fs-4">LOCATION</h2>
                <p class="fs-5">2215 John Daniel Drive <br>
                    Clark, MO 65243</p>
            </div>
            <div class="col-lg-3 col-sm-12 my-4">
                <h2 class="fw-bold fs-4">AROUND THE WEB</h2>
                <div class="d-flex"></div>
            </div>
            <div class="col-lg-3 col-sm-12 px-sm-5 px-lg-4 my-4">
                <h2 class="fw-bold fs-4">ABOUT FREELANCER</h2>
                <p class="fs-5">Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
</div>