<div [style.backgroundColor] = "'rgb(44, 62, 80)'" [style.zIndex]="'100'" class="w-100 position-fixed" >
    <nav  class="navbar navbar-expand-lg navbar-dark container">
        <a class="navbar-brand">START ANGULAR</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" href="#portfolio">PORTFOLIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#about">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">CONTACT</a>
            </li>
        </ul>
        </div>
    </nav>
</div>